
canvas {
    width: 80%;
}

@font-face {
    font-family: 'Lucida Caligraphy';
    src: url('../fonts/Lucida-Caligraphy.woff') format('woff2');
    font-weight: 100;
    font-style: cursive;
}

.top_bar_container {
    background-color: gray;
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    text-align: left;
}

.title {
    font-family: 'Lucida caligraphy', sans-serif;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.select-container{
    font-family: 'lucida', sans-serif;
    background-color: #f9f9f9;
    width:25%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size:14px;
}

.top-nav-icons {
    margin: 0px 15px;
    cursor: pointer;
}

.full-width {
    width: 80%;
}

.top-nav-icons-container {
    display: flex;
    justify-content: right;
    padding-right: 15px;
    position: absolute;
    top: 3%;
    right: 2%;
}

#gltf-viewport {
    margin-top: 15px;
    border: 1px solid #ccc;
}
